<div class="container" *ngIf="movie">
  <div class="row my-3">
    <div class="col-12 col-sm-6 my-1">
      <span class="lead">{{ movie.title }} ({{ movie.year }})</span><br>
      {{ movie.duration | minutesToHours }}
    </div>
    <div class="col-12 col-sm-4 my-1 m-auto">
      <a class="btn btn-success d-block"
        href='https://www.google.com/search?q={{movie.title}}+({{movie.year}})'
        target="_blank">Search</a>
    </div>
  </div>
  <div class="row">
    <div class="col-10" *ngIf="movie.genres && movie.genres.length">
      <b>Genres</b>: {{ movie.genres | genre }}
    </div>
  </div>
  <div class="row">
    <div class="col-10">{{ movie.description }}</div>
  </div>
  <div class="row my-3">
    <div class="col-12" *ngIf="movie.rating != null">
      <b>To watch</b>: {{ movie.watchPriority | watchPriority }}
    </div>
    <div class="col-12" *ngIf="movie.rating != null">
      <b>Rating</b>:
      <md-star [rating]='movie.rating' [maxRating]=10 *ngIf="movie.rating > 0"></md-star>
      <span class="ml-1" *ngIf="movie.rating > 0">({{ movie.rating }})</span>
      <span *ngIf="movie.rating == 0">Watched (no rating)</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12 my-1" *ngIf="movie.review">
      <b>Review</b>: {{ movie.review }}
    </div>
    <div class="col-12 my-1" *ngIf="movie.plotSummary">
      <b>Plot Summary</b>: {{ movie.plotSummary }}
    </div>
    <div class="col-12" *ngIf="movie.reviewDate">
      <b>Reviewed</b>: {{ movie.reviewDate }}
    </div>
  </div>
  <div class="row mt-2">
    <button class="col-4 offset-1 btn btn-success"
      [routerLink]="['edit']">Update</button>
    <button class="col-4 offset-1 btn btn-success"
      (click)='deleteMovie(movie)'>Delete</button>
  </div>
</div>
