<div class="container">
     <div class="row">
          <form [formGroup]="movieForm" (ngSubmit)="submitMovie()" novalidate>
               <div class="form-group">
                    <label class="col-4" for="title">Title</label>
                    <input class="col-8" id="title" type="text" 
                         formControlName="title"
                         autofocus/>
               </div>
               <div class="form-group">
                    <label class="col-4" for="year">Year</label>
                    <input class="col-4" id="year" type="number" 
                         formControlName="year"/>
               </div>
               <div class="form-group">
                    <label class="col-4" for="duration">Duration</label>
                    <input class="col-4" id="duration" type="number" 
                         formControlName="duration"/>
               </div>
               <div class="form-group">
                    <label class="col-4" for="description">Description</label>
                    <input class="col-8" id="description" type="text" 
                         formControlName="description" />
               </div>
               <div class="form-group">
                    <label class="col-4" for="watchPriority">Watch Priority</label>
                    <input class="col-8" id="watchPriority" type="number" 
                         formControlName="watchPriority"/>
               </div>
               <div class="form-group">
                    <label class="col-4" for="rating">Rating</label>
                    <input class="col-8" id="rating" type="number" 
                         formControlName="rating"/>
               </div>
               <div class="form-group">
                    <label class="col-4" for="review">Review</label>
                    <input class="col-8" id="review" type="text" 
                         formControlName="review"/>
               </div>
               <div class="form-group">
                    <label class="col-4" for="plotSummary">Plot Summary</label>
                    <input class="col-8" id="plotSummary" type="text" 
                         formControlName="plotSummary"/>
               </div>
               <div class="form-group">
                    <label class="col-4" for="reviewDate">Review Date</label>
                    <input class="col-8" id="reviewDate" type="text" 
                         formControlName="reviewDate"/>
               </div>
               <button class="col-4 offset-7 button btn-primary" type="submit">Submit</button>
          </form>
     </div>
</div>
        