<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Master Data</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">
</head>
<body>
  <header class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar-dark md-bg-dark">
      <a class="navbar-brand" [routerLink]="['/']">
        <i class="fas fa fa-database px-1"></i>Master Data
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="movieDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Movies
          </a>
          <div class="dropdown-menu md-bg-dark" aria-labelledby="movieDropdown">
            <a class="dropdown-item md-txt-white" [routerLink]="['/movies']">Movies</a>
            <a class="dropdown-item md-txt-white" [routerLink]="['/genres']">Genres</a>
          </div>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dietDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Diet
        </a>
        <div class="dropdown-menu md-bg-dark" aria-labelledby="dietDropdown">
          <a class="dropdown-item md-txt-white" [routerLink]="['/diary']">Diary</a>
          <a class="dropdown-item md-txt-white" [routerLink]="['/product']">Products</a>
        </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/flashcards']">Flashcards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/crypto']">Crypto</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="isLogged()">
          <a class="nav-link" [routerLink]="" (click)="logout()">Logout</a>
        </li>
      </ul>
      </div>
    </nav>
  </header>
<router-outlet></router-outlet>
</body>
</html>
