<div class="container-fluid">
    <div class="row" *ngIf='movies && movies.length'>
        <div class="col-sm-3">
            <label for="titleId">Title</label>
            <input id="titleId" type="text"/>
        </div>
        <div class="col-sm-3">
            <label>Year</label>
            <input type="number" />
        </div>
        <div class="col-sm-3">
            <label>Genres</label>
            <input type="text" />
        </div>
        <div class="col-sm-3">
            <label>Duration</label>
            <input type="text" />
        </div>
        <div class="col-sm-3">
            <label>Rating</label>
            <input type="text" />
        </div>
        <div class="col-sm-3">
            <label>To watch</label>
            <input type="text" />
        </div>
        <div class="col-sm-3">
            <button class="button btn-primary" type="submit">Search</button>
        </div>
        <div class="col-sm-3">
            <button class="button btn-primary" [routerLink]="['/movies/create']">Add Movie</button>
        </div>
    </div>
    <div class="row" *ngIf='movies && movies.length'>
        <div class="card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor='let movie of movies'>
            <div class="card-body">
                <div class="card-title">
                    <a [routerLink]="['/movies', movie.id]">{{ movie.title }} ({{ movie.year }})</a>
                </div>
                <div class="card-text">
                    {{ movie.duration | minutesToHours }}
                </div>
                <div class="card-text">
                    {{ movie.genres | genre }}
                </div>
                <div class="card-text">
                    {{ movie.watchPriority | watchPriority }}
                    <md-star [rating]='movie.rating'></md-star>
                </div>
                <a class="card-link" [routerLink]="['/movies/', movie.id]">Update</a>
                <button class="button btn-primary card-link" [routerLink]="['/movies/', movie.id]">Delete</button>
            </div>
        </div>
    </div>
</div>