<div class="container">
     <div class="row">
          <form [formGroup]="movieForm" (ngSubmit)="submitMovie()" novalidate>
               <div class="form-group">
                    <label for="titleId">Title</label>
                    <input id="titleId" type="text" 
                         formControlName="title"
                         autofocus
                         [ngClass]="{'is-invalid': true}"/>
               </div>
               <div class="form-group">
                    <label>Year</label>
                    <input type="number" 
                         formControlName="year"/>
               </div>
               <div>
                    <label>Duration</label>
                    <input type="text" 
                         formControlName="duration" />
               </div>
               <div>
                    <label>Watch Priority</label>
                    <input type="text" 
                         formControlName="watchPriority" />
               </div>
               <div>
                    <label>Rating</label>
                    <input type="text" 
                         formControlName="rating" />
               </div>
               <button class="button btn-primary" type="submit"
                    [title]="movieForm.valid ? 'Save Movie' : 'Disabled'"
                    [disabled]="!movieForm.valid">Submit</button>
          </form>
     </div>
     Dirty {{movieForm.dirty}} <br>
     Touched {{movieForm.touched}} <br>
     valid {{movieForm.valid}} <br>
     Value {{movieForm.value | json}} <br>
</div>
        