<div class="container">
  <form class="row m-3" autocomplete="off" (ngSubmit)="searchProducts()">
    <input class="col-6" id="name" type="text" required>
    <button class="btn btn-success col-1 offset-1" type="submit">
      Search
    </button>
    <button class="btn btn-success col-1 offset-1" type="button"
      (click)="editProduct()" [disabled]="!productSelected">Edit</button>
    <button class="btn btn-success col-1 offset-1" type="button"
      (click)="displayEmptyProduct()">Create</button>
  </form>
  <div *ngIf="!productSelected && !creatingProduct">
    <ul class="row list-unstyled m-3 list-group"
      *ngFor="let product of productList; let index = index">
      <li class="col-6 mr-1 list-group-item" (click)="selectProduct(index)">{{ product.name }}</li>
    </ul>
  </div>
  <form [formGroup]="productForm" (ngSubmit)="submitProduct()" *ngIf="productSelected || creatingProduct"
    autocomplete="off" novalidate>
    <div class="row form-group">
      <label class="col-4">Name</label>
      <input class="col-8" type="text" formControlName="name">
    </div>
    <div class="row form-group">
      <label class="col-4">Unit</label>
      <input class="col-2" type="text" value="100" disabled>
      <select class="col-6" formControlName="unit">
        <option selected>gram</option>
        <option selected>mililitr</option>
      </select>
    </div>
    <div class="row form-group">
      <label class="col-4">Calories</label>
      <input class="col-8" type="number" formControlName="calories">
    </div>
    <div class="row form-group">
      <label class="col-4">Carbs (g)</label>
      <input class="col-8" type="number" formControlName="carbs">
    </div>
    <div class="row form-group">
      <label class="col-4">Fats (g)</label>
      <input class="col-8" type="number" formControlName="fats">
    </div>
    <div class="row form-group">
      <label class="col-4">Proteins (g)</label>
      <input class="col-8" type="number" formControlName="proteins">
    </div>
    <div class="row">
      <button class="btn btn-success col-2 offset-2" type="button"
        click="searchProducts()">Add Meal</button>
      <button class="btn btn-success col-2 offset-2" type="submit"
        [disabled]="!editingProduct && !creatingProduct">Save</button>
      <button class="btn btn-success col-2 offset-2" type="button"
        (click)="discardProduct()" [disabled]="!editingProduct && !creatingProduct">Discard</button>
    </div>
  </form>
</div>
